.product {
  padding: 20px;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: white;
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
};

.product-image {
  text-align: center;
  object-fit:cover;
};

.name {
  text-align: center;
  font-weight: 800;
  color: #090d44;
  margin-bottom: 20px;
};

.price {
  text-align: right;
  font-size: 24px;
  color: rgb(197, 8, 8);
  font-weight: 600;
  margin-right: 20px;
};

.category {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 500;
};

.link {
  text-decoration: none;
  border-radius: 8px;
  font-weight: 700;
  color: rgb(91, 229, 245);
  padding-top: 4px;
  padding-bottom: 4px;;
  padding-right: 20px;
  padding-left: 20px;

  &:hover {
    color: #2aaeb3;
  }
};
